*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid lightcoral; */
    color: white;
}

:root{
    --bg-grey: rgba(72, 72, 72, 0.5)
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: .8rem;
    
}

.flex{
    display: flex;
}

button{
    background-color: var(--bg-grey);
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    font-size: 0.7rem;
}

.button-container{
    justify-content: flex-end;
}

.container{
    background-color: black;
    padding: 0vh 5vw;
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1vh 0;
}


.img-card img{
    display: block;
    width: 100%;
    background-size: cover;
}

.img-container{
    background-color: var(--bg-grey);
    position: relative;
}

.pinco-pallo{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: var(--bg-grey);
}

.cards-container{
    flex-wrap: wrap;
    gap: 0.5rem 0.3rem;
    width: 100%;
}

.container-card{
    width: calc((100% - 1.8rem) / 7);
}

.button-bottom{
    background-color: black;
}

select{
    background-color: black;
    border: none;
}

.end-meeting{
    color: #b22109;
    background-color: #4a4a4a;
    height: 100%;
    border-radius: 0;
}

.navbar-container{
    justify-content: space-between;
}

